<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/public/images/pizza-32.png" type="image/png">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/order.css">
    <title>Italian Ristorante</title>
  </head>
  <body class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="/public/images/pizza.png" alt="" class="img-responsive">
      </div>
      <div class="col-sm-8 text-center">
        <h1>Create Account</h1>
      </div>
      <div class="col-sm-2">
        <img src="/public/images/pizza.png" alt="" class="img-responsive">
      </div>
    </div>
    {{if .errors}}
      <div style="color: red">
        <ul>
          {{range .errors}}
            <li>{{.Key}} {{.Message}}</li>
          {{end}}
        </ul>
      </div>
    {{end}}
    <form class="form-horizontal col-sm-10 col-sm-offset-1" action="" method="post">
      <div class="form-group">
        <label for="firstName" class="col-sm-2">Name</label>
        <div class="col-sm-4">
          <input id="firstName" name="account.FirstName"
            type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-sm-5">
          <input id="lastName" name="account.LastName"
            type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="address1" class="col-sm-2">Address 1</label>
        <div class="col-sm-9">
          <input id="address1" name="account.Address1"
            type="text" class="form-control" placeholder="House Number and Street">
        </div>
      </div>
      <div class="form-group">
        <label for="address2" class="col-sm-2">Address 2</label>
        <div class="col-sm-9">
          <input id="address1" name="account.Address2"
            type="text" class="form-control" placeholder="Additional Address Information">
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="col-sm-2">City</label>
        <div class="col-sm-3">
          <input id="city" name="account.City"
            type="text" class="form-control" placeholder="City">
        </div>
        <label for="state" class="col-sm-1">State</label>
        <div class="col-sm-2">
          <select name="account.State" id="state" class="form-control">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
          </select>
        </div>
        <label for="zip" class="col-sm-1">Zip</label>
        <div class="col-sm-2">
          <input id="zip" name="account.ZipCode"
            type="text" class="form-control" placeholder="Zip">
        </div>
      </div>
      <div class="text-right col-sm-11">
        <button type="submit">Create</button>
      </div>
    </form>
  </body>
</html>
